@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container-navbar {
  color: #ad88c6;
  background-color: #ffe6e6;
  height: 7.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30em;
  box-shadow: 0px 21px 68px -20px rgba(0, 0, 0, 0.2);
  position: sticky;
}
.img-logo {
  width: 140px;
  object-fit: cover;
}
.container-tags {
  display: flex;
  gap: 3em;
}

.logo {
  font-size: 2em;
  padding: 10px;
  border-radius: 10em;
  margin: 2px;
  transition: all 0.2s;
}
.logo:hover {
  background-color: #e1afd1;
  color: #7469b6;
}

li:hover {
  color: #7469b6;
  user-select: none;
}
